extends layout

block content

      .paper
        .content
            .nav
              
                ul
            
                    li
                      div
                        a(href='/') Home
                    |   
                    li
                      div
                        a(href='https://github.com/weberl48/spotify-api-visualizer') Github
                    |   
                    li
                      div
                        a(href='mailto:cer.andrew@gmail.com,sam.genduso@gmail.com,szilvia.deahl@yahoo.com,weberl48@outlook.com') Contact
                    |  
          
            .dash
              h1 #{user}'s To Do List:
              a(href='/dash/' + session.id + '/edit')  Edit List
              if list
              
                for items in list
                  ul.list
                    li 
                      a(href=  "/dash/" + items + "/list/update" class="items") 
                        span
                          =items
                  
              if subList  
                h2 SubLists:
                for subLists in subList
                  ul.list
                    li
                      a(href=  "/dash/" + subLists._id + "/list/sublist" class="sublist") 
                        span
                          =subLists.name
                        ul.list
                          li 
                            span 
                              
                            
