extends layout

block content

      .paper
        .content
            .nav
              
                ul
            
                    li
                      div
                        a(href='/') Home
                    |   
                    li
                      div
                        a(href='https://github.com/weberl48/spotify-api-visualizer') Github
                    |   
                    li
                      div
                        a(href='mailto:cer.andrew@gmail.com,sam.genduso@gmail.com,szilvia.deahl@yahoo.com,weberl48@outlook.com') Contact
                    |  
          
            .dash
              h2  To Do List:
              if list
                a(href='/dash/' + list + '/edit')  Edit List
              if lists
                for items in lists
                 ul.list
                   li
                     a(href="/dash/"+ items+ "/list/update").items
                       span=items
              if sub
                
                for names in sub
                    ul.lists
                      li
                        a(href="/dash/"+ names + "/subList/update").items
                          span=names
                for subItem in subItems
                    .hidden
                      ul.lists
                        li
                          a(href="/dash/"+ subItems +"/"+ subId + "/sublist/remove").items
                            span=subItem
                          //- .hidden
                          //-   p FSDFSFSDFSDFSFSFSFDS
                              
