extends layout

block content
  .paper
    .content
    h1 Edit SubList
    
      if errors
        .errors
          i.pin
          blockquote.note.yellow
                .x  X
                h3.title Errors:
                for error in errors
                  p.error
                  =error
        script.
          $('.x').click(function(){
            console.log("clicked")
          $('.errors').remove();
          });          

      .form
              form(action='/subList/update', method='POST')
                .input
                  label(for="name") Name:
                  input(name="name")=name
                .input
                  label(for="subList") Sub List: 
                  textarea(name="subItems")=subItems
                .input
                .input
                  input(type='submit', value='New List' class="button")
