extends layout

block content
  .paper
    .content
    h1 New List
    
      if errors
        .errors
          i.pin
          blockquote.note.yellow
                .x  X
                h3.title Errors:
                for error in errors
                  p.error
                  =error
        script.
          $('.x').click(function(){
            console.log("clicked")
          $('.errors').remove();
          });          

      .form
              form(action='/list/' + list._id + '/update', method='POST')
                .input
                  label(for='items') Items:
                  textarea( name="items")=list.items
                .input
                .input
                  label(for="name") Name:
                  input(name="name")
                .input
                  label(for="subList") Sub List: 
                  textarea(name="subItems")
                .input
                .input
                  input(type='submit', value='New List' class="button")
